.device {
    margin:auto; 
    width: 640px;
    height: 960px;
    overflow: hidden;
    background-color: rgb(195, 238, 244);
    position: relative;
    /* display: flex;
    flex-direction: column */
  }
  
  h1 {
    font-size: 28pt;
  }

  #first_line {
     background-color: black;
     color: yellow;
     margin: 0;
     text-align: center;
     font-size: 32px;
  }

  #second_line {
    background-color: yellow;
    color: purple;
    margin: 0;
    text-align: center;
    font-size: 32px;
  }

  #navigationBar {
    position: absolute;
    bottom: 0;
    background-color: lightpink;
    
  }

